.DS_Store
www/downloads
www/uploads
node_modules
www/nltk_data
main_config.json
graphql_config.json
map.json
*.log
*.swp
.idea

#########################
# helm related
#########################
# ignore secrets
gitrepo.yaml
variables.txt
*.secret.yaml

# ignore terraform files
terraform/.terraform
terraform/*.auto.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# ignore downloaded chart fiels
helm/smile/charts/*
*charts/*
# values for deployment
helm/smile/values-clowder.yaml
helm/smile/values-smile.yaml

# idea folder
*.idea/

# secrets
*.secret.yaml
helm/smile/smile.secret.yaml
