<!-- auth -->
div(id="auth-panel")
    p(class="auth-header") Authorization
    p(class="auth-description") SMILE ensures compliant data collection by connecting to the social media platforms
        | using official APIs and
        | requesting users to provide authorized account to log into their services. Users will only access data that
        | they have permission to, and the data will be collected following the protocol of each platform.
    //div(class="twitter-auth", id="twitter-auth")
        //a(class="btn btn-primary btn-block auth-button", href="login/twitter", target="_blank" disabled)
            //img(src='bootstrap/img/logo/twitter-sm-logo.png', width="30px", height="30px")
              //| Twitter integration temporarily disabled
    div(class="twitterV2-auth", id="twitterV2-auth")
        if TWITTER_ON
            a(class="btn btn-primary btn-block auth-button", href="login/twitterV2")
                img(src='bootstrap/img/logo/x-sm-logo.png', width="30px", height="30px")
                | Authorize with your Twitter/X account
                img(src="bootstrap/img/logo/checkbox.png", class="export-success", width="30px", style="display:none;")
        else
            a(class="btn btn-primary btn-block auth-button", href="login/twitterV2" disabled)
                img(src='bootstrap/img/logo/x-sm-logo.png', width="30px", height="30px")
                | Twitter/X Temporarily Not Accessible
    div(class="reddit-auth", id="reddit-auth")
        if REDDIT_ON
            a(class="btn btn-primary btn-block auth-button", href="login/reddit")
                img(src='bootstrap/img/logo/reddit-sm-logo.png', width="30px",height="30px")
                | Authorize with your Reddit account
                img(src="bootstrap/img/logo/checkbox.png", class="export-success", width="30px", style="display:none;")
        else
            a(class="btn btn-primary btn-block auth-button", href="login/reddit" disabled)
                img(src='bootstrap/img/logo/reddit-sm-logo.png', width="30px",height="30px")
                | Reddit Temporarily Not Accessible
    div(class="youtube-auth", id="youtube-auth")
        if GOOGLE_ON
            a(class="btn btn-primary btn-block auth-button", href="login/google")
                img(src='bootstrap/img/logo/youtube-sm-logo.png', width="30px",height="30px")
                | Authorize with your Youtube account
                img(src="bootstrap/img/logo/checkbox.png", class="export-success", width="30px", style="display:none;")
            div(style="display: flex; justify-content: end; align-items: center; margin-top: 10px; color:#ffffff;font-size: 16px;")
                span If you have a YouTube API key, please&nbsp;
                a(href="#", id="youtubeApiKeyLink", style="text-decoration: underline; color:#ffffff") click here
        else
            a(class="btn btn-primary btn-block auth-button", href="login/google" disabled)
                img(src='bootstrap/img/logo/youtube-sm-logo.png', width="30px",height="30px")
                | Youtube Temporarily Not Accessible
    button(id="auth-next", style="margin-top: 2em;", class="pull-right") next

// youtube api key modal
div(id="youtube-apikey-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
    div(class="modal-dialog modal-lg")
        div(class="modal-content")
            div(class="modal-header")
                button(class="close", data-dismiss="modal") &times;
                h2(class="modal-title", id="modal-title", style="text-align:left;vertical-align:middle;") Provide your Google API Key
            div(class="modal-body form")
                div(class="modal-message")
                    div(class="form-group")
                        p To access YouTube data via Google's YouTube Data API, which the SMILE app utilizes behind the
                            | scenes, you first need to generate an API key. Google will provide this key upon request,
                            | and while you can request multiple keys, it’s recommended to use one key per project to avoid
                            | potential access issues. Once you have the key, ensure you keep it confidential and secure.
                            | Below are detailed instructions for generating and storing your API key:

                        ol
                            li <b>Generate an API Key</b>
                                ul
                                    li
                                        p Create a Google Cloud Project
                                        ul
                                            li Sign in to Google Cloud Console.
                                            li Click on the project dropdown in the top bar.
                                            li Select "New Project."
                                            li Name your project and click "Create."
                                    li
                                        p Enable the Required APIs
                                        ul
                                            li Ensure your new project is selected in the top bar.
                                            li Go to "APIs & Services" > "Library."
                                            li Search for "YouTube Data API" and click "Enable."
                                    li
                                        p Create API Keys
                                        ul
                                            li Go to "APIs & Services" > "Credentials."
                                            li Click "Create Credentials" right below the top bar.
                                            li Select "API Key."
                                            li
                                                p Restrict API Key (Highly Recommended)
                                                ul
                                                    li In the "API key created" dialog, click "Restrict Key."
                                                    li Under "Application restrictions," select the appropriate restriction type (e.g., HTTP referrers, IP addresses).
                                                    li Set application restriction for websites:
                                                        ul
                                                            li https://smm.ncsa.illinois.edu
                                                            li https://*.smm.ncsa.illinois.edu
                                                    li Under "API restrictions," select "YouTube Data API v3."
                                                    li Click "Save."
                                            li For more information: [YouTube Video Guide](https://www.youtube.com/watch?v=2_HZObVbe-g) (Originally for Google Maps; adjust the APIs to YouTube Data API.)

                            li <b>Securely Store and Use the API Key</b>
                                ul
                                    li
                                        p Find the API Key
                                        ul
                                            li After creating your API key, find it under "APIs & Services" > "Credentials" > “API Keys” > SHOW KEY.
                                    li
                                        p Usage in SMILE App
                                        ul
                                            li When pasted into the SMILE app, the key will be stored in-memory for 30 minutes. After 30 minutes, you need to re-enter your API key.
                                    li
                                        p Usage in Other Contexts
                                        ul
                                            li For other purposes, such as scripting or Jupyter notebooks directly against Google API:
                                                ul
                                                    li Keep the API key secure.
                                                    li Avoid hardcoding it into your code. Use environment variables or secret management tools.
                                            li For more information visit [Google Developers](https://developers.google.com/docs/api/reference/rest).

                            li <b>Regenerate Keys if Compromised</b>
                                p If you suspect your API key is compromised, regenerate it immediately by going to the "Credentials" page, selecting the key, and choosing "Regenerate Key."
                            li <b>Monitor Usage and Quotas</b>
                                p Your API key has quotas, such as the number of API calls or results you can retrieve daily. You will receive an error message if you exceed your quota (e.g., "code": 403, "message": "User Rate Limit Exceeded"). In the SMILE app, error messages will appear if quotas are exceeded.
                                ul
                                    li Monitor API Usage
                                        p Regularly check the "API Dashboard" for usage and unusual activity.
                                    li Adjust Quotas
                                        ul
                                            li View and edit quotas under IAM & admin > Quotas.
                                            li You can view current usage percentage, create quota alerts, and request quota increases or decreases.
                                            p For more information:
                                                ul
                                                    li [Current Quotas](https://developers.google.com/youtube/v3/guides/quota_and_compliance_audits)
                                                    li [Quota Management](https://cloud.google.com/api-keys/docs/quotas)

                    div(class="form-group")
                        label(class="control-label col-md-2 col-md-2 col-xs-12") API key
                        div(class="col-md-10 col-md-10 col-xs-12")
                            input(class="form-control" id="youtubeApiKey", placeholder="Your API Key")
            div(class="modal-footer")
                button(class="btn btn-yes", id="submitYoutubeApiKey") Submit

script.
    $("#youtube-apikey-modal").on('hidden.bs.modal', function () {
        $('#apiKey').tagsinput('removeAll');
    });

