div(id="apikey-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                button(class="close", data-dismiss="modal") &times;
                h2(class="modal-title", id="modal-title", style="text-align:left;vertical-align:middle;") Provide your API Key
            div(class="modal-body form")
                div(class="modal-message")
                    div(class="form-group")
                        p Please provide your API key to access the service. This is designed to help you use the
                            |  maximum quota of the service and to ensure the service is available for you.
                            |  <u>Note that if no API key is provided, the service will not be accessible.</u>
                        a(href="") For more information...
                    div(class="form-group")
                        label(class="control-label col-md-2 col-md-2 col-xs-12") ID
                        div(class="col-md-10 col-md-10 col-xs-12")
                            input(class="form-control" id="apiKey", placeholder="Your API Key")
            div(class="modal-footer")
                button(class="btn btn-yes", id="submitApiKey") Submit

script.
    $("#apikey-modal").on('hidden.bs.modal', function () {
        $('#apiKey').tagsinput('removeAll');
    });
