footer(class="footer-bs")
	div(class="row")
		p © #{new Date().getFullYear()} National Center for Supercomputing Applications, University of Illinois at Urbana-Champaign, All rights reserved | version 0.4.4
