//Youtube
div(class="youtube-search youtube-random-videos youtube-search-channel youtube-search-playlist youtube-creator-videos")
	div(class="form-group")
		label(class="label-control warning") Maximum number of search results
			span(class="warningText") Careful! The default quota allocation is 10,000 units per day. Every 50 counts as 100 units.
		div(class="range range-node")
			input(type="range" min="50" max="5000" value="100" step="50" id="youtube-count" onchange="ytrangeNode.value=value")
			output(id="ytrangeNode") 100
	div(class="form-group")
		label(class="label-control" style="display:block;") Order
		label(class="radio-inline")
			input(type="radio", name="ytOrder", value="date")
			| date
		label(class="radio-inline")
			input(type="radio", name="ytOrder", value="rating")
			| rating
		label(class="radio-inline")
			input(type="radio", name="ytOrder", value="relevance", checked)
			| relevance
		label(class="radio-inline")
			input(type="radio", name="ytOrder", value="title")
			| title
		label(class="radio-inline")
			input(type="radio", name="ytOrder", value="videoCount")
			| videoCount
		label(class="radio-inline")
			input(type="radio", name="ytOrder", value="viewCount")
			| viewCount
	div(class="form-group")
		label(class="label-control" style="display:block;") Video Duration
		label(class="radio-inline")
			input(type="radio", name="ytDuration", value="any", checked)
			| any
		label(class="radio-inline")
			input(type="radio", name="ytDuration", value="long")
			| long
		label(class="radio-inline")
			input(type="radio", name="ytDuration", value="medium")
			| medium
		label(class="radio-inline")
			input(type="radio", name="ytDuration", value="short")
			| short
	div(class="form-group")
		label(class="")
			i(class="far fa-calendar-alt")
			| &nbsp;Enable Date Range
		input(type="checkbox", id="ytDateRange", value="ytDateRange", style="margin-left:0.5em;vertical-align:top;")
	div(class="form-group ytDateRange", style="display:none;")
		div(class="col-md-6", style="display:inline-block;")
			label Published After
			input(class="form-control", type="date", id="publishedAfter")
		div(class="col-md-6", style="display:inline-block;")
			label Published Before
			input(class="form-control", type="date", id="publishedBefore")
div(class="youtube-search youtube-random-videos youtube-creator-videos")
	div(class="form-group")
		label(class="")
			i(class="fas fa-map-marker-alt")
			| &nbsp;Enable Geo Search
		input(type="checkbox", id="ytGeoSearch", value="ytGeoSearch", style="margin-left:0.5em;vertical-align:top;")
	div(class="form-group ytGeoSearch", style="display:none;")
		div(class="col-md-6" style="display:inline-block;")
			label Location
			input(class="form-control", id="ytLocation", placeholder="e.g. 37.42307,-122.08427")
		div(class="col-md-6" style="display:inline-block;")
			label Radius
			input(class="form-control", id="ytLocationRadius", placeholder="e.g. 1500m, 5km, 10000ft, 0.75mi")
		div(class="col-md-12")
			iframe(id="openLayerMap" src="openLayerMap/geolocation.html")
div(class="youtube-search youtube-random-videos youtube-search-channel youtube-search-playlist")
	div(class="form-group")
		label(class="")
			i(class="fas fa-filter")
			| &nbsp;Advance Filter
		input(type="checkbox", id="ytFilters", value="ytFilters", style="margin-left:0.5em;vertical-align:top;")
	div(class="form-group ytFilters", style="display:none;")
		label Channel ID
		input(class="form-control", id="channelId", placeholder="e.g. UC_x5XG1OV2P6uZZ5FSM9Ttw")
	div(class="form-group ytFilters", style="display:none;")
		label Relevance Language
		input(class="form-control", id="relevanceLanguage", placeholder="ISO 639-1")
	div(class="form-group ytFilters", style="display:none;")
		label Region Code
		input(class="form-control", id="regionCode", placeholder="ISO 3166-1 alpha-2")
